n8n-workflow.json
{
  "name": "Creator Contest Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DATABASE_ID",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "Pending"
            }
          ]
        },
        "options": {}
      },
      "id": "node-notion-get-pending",
      "name": "Get Pending Submissions",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [460, 300],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-url",
              "leftValue": "={{ $json.properties['Content URL'].url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter-valid",
      "name": "Filter Valid URLs",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-page-id",
              "name": "pageId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "assign-creator",
              "name": "creatorName",
              "value": "={{ $json.properties['Creator Name'].title[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "assign-platform",
              "name": "platform",
              "value": "={{ $json.properties['Platform'].select.name }}",
              "type": "string"
            },
            {
              "id": "assign-url",
              "name": "contentUrl",
              "value": "={{ $json.properties['Content URL'].url }}",
              "type": "string"
            },
            {
              "id": "assign-date",
              "name": "submittedAt",
              "value": "={{ $json.properties['Submission Date'].date.start }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-extract-fields",
      "name": "Extract Submission Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "check-twitter",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "Twitter",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "node-platform-router",
      "name": "Platform Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.twitter.com/2/tweets/{{ $json.contentUrl.match(/status\\/([0-9]+)/)?.[1] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TWITTER_BEARER_TOKEN"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tweet.fields",
              "value": "public_metrics,created_at,text,author_id"
            },
            {
              "name": "expansions",
              "value": "author_id"
            },
            {
              "name": "user.fields",
              "value": "public_metrics,username"
            }
          ]
        },
        "options": {}
      },
      "id": "node-twitter-fetch",
      "name": "Fetch Twitter Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://open.tiktokapis.com/v2/video/query/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TIKTOK_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"filters\": {\n    \"video_ids\": [\"{{ $json.contentUrl.match(/video\\/(\\d+)/)?.[1] }}\"]\n  },\n  \"fields\": [\"id\", \"title\", \"video_description\", \"like_count\", \"comment_count\", \"share_count\", \"view_count\", \"play_count\"]\n}",
        "options": {}
      },
      "id": "node-tiktok-fetch",
      "name": "Fetch TikTok Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "norm-platform",
              "name": "platform",
              "value": "Twitter",
              "type": "string"
            },
            {
              "id": "norm-likes",
              "name": "likes",
              "value": "={{ $json.data?.public_metrics?.like_count ?? 0 }}",
              "type": "number"
            },
            {
              "id": "norm-reposts",
              "name": "reposts",
              "value": "={{ $json.data?.public_metrics?.retweet_count ?? 0 }}",
              "type": "number"
            },
            {
              "id": "norm-replies",
              "name": "replies",
              "value": "={{ $json.data?.public_metrics?.reply_count ?? 0 }}",
              "type": "number"
            },
            {
              "id": "norm-views",
              "name": "views",
              "value": "={{ $json.data?.public_metrics?.impression_count ?? 0 }}",
              "type": "number"
            },
            {
              "id": "norm-caption",
              "name": "caption",
              "value": "={{ $json.data?.text ?? '' }}",
              "type": "string"
            },
            {
              "id": "norm-author",
              "name": "authorFollowers",
              "value": "={{ $json.includes?.users?.[0]?.public_metrics?.followers_count ?? 0 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-normalize-twitter",
      "name": "Normalize Twitter Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "norm-tt-platform",
              "name": "platform",
              "value": "TikTok",
              "type": "string"
            },
            {
              "id": "norm-tt-likes",
              "name": "likes",
              "value": "={{ $json.data?.videos?.[0]?.like_count ?? 0 }}",
              "type": "number"
            },
            {
              "id": "norm-tt-reposts",
              "name": "reposts",
              "value": "={{ $json.data?.videos?.[0]?.share_count ?? 0 }}",
              "type": "number"
            },
            {
              "id": "norm-tt-replies",
              "name": "replies",
              "value": "={{ $json.data?.videos?.[0]?.comment_count ?? 0 }}",
              "type": "number"
            },
            {
              "id": "norm-tt-views",
              "name": "views",
              "value": "={{ $json.data?.videos?.[0]?.view_count ?? 0 }}",
              "type": "number"
            },
            {
              "id": "norm-tt-caption",
              "name": "caption",
              "value": "={{ $json.data?.videos?.[0]?.video_description ?? '' }}",
              "type": "string"
            },
            {
              "id": "norm-tt-author",
              "name": "authorFollowers",
              "value": "0",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-normalize-tiktok",
      "name": "Normalize TikTok Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 420]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "node-merge-platforms",
      "name": "Merge Platform Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "build-prompt",
              "name": "scoringPrompt",
              "value": "=You are an AI content evaluator for a creator contest. Analyze the following content submission and return ONLY a valid JSON object — no explanation, no markdown, no extra text.\n\nCREATOR: {{ $('Extract Submission Fields').item.json.creatorName }}\nPLATFORM: {{ $json.platform }}\nCAAPTION: {{ $json.caption }}\nLIKES: {{ $json.likes }}\nREPOSTS / SHARES: {{ $json.reposts }}\nCOMMENTS / REPLIES: {{ $json.replies }}\nVIEWS / IMPRESSIONS: {{ $json.views }}\nFOLLOWER COUNT: {{ $json.authorFollowers }}\n\nSCORING CRITERIA (each out of 100):\n1. Engagement Score — based on ratio of likes+reposts+replies to views. Penalise very low engagement rates.\n2. Sentiment Score — infer likely comment tone from the caption content and engagement pattern. High controversy lowers this.\n3. Originality Score — assess how creative and unique the caption reads vs generic contest submissions.\n4. Reach Score — based on raw view/impression numbers weighted by platform norms (TikTok norms are higher).\n5. Brand Fit Score — assess alignment with a startup tech brand running a community creator contest. Penalise off-topic, explicit, or unrelated content.\n\nTIER THRESHOLDS:\n- Gold: composite score >= 80\n- Silver: composite score 60–79\n- Bronze: composite score 40–59\n- Unranked: composite score < 40\n\nComposite score = (Engagement * 0.30) + (Sentiment * 0.20) + (Originality * 0.20) + (Reach * 0.15) + (BrandFit * 0.15)\n\nRespond ONLY with this JSON structure:\n{\n  \"compositeScore\": <number 0-100>,\n  \"tier\": \"<Gold|Silver|Bronze|Unranked>\",\n  \"engagementScore\": <number 0-100>,\n  \"sentimentScore\": <number 0-100>,\n  \"originalityScore\": <number 0-100>,\n  \"reachScore\": <number 0-100>,\n  \"brandFitScore\": <number 0-100>,\n  \"performingWell\": <true|false>,\n  \"notes\": \"<1-2 sentence summary of why this score was given>\"\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-build-prompt",
      "name": "Build Scoring Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 512,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.scoringPrompt) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "node-claude-score",
      "name": "Claude AI Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parse-result",
              "name": "aiResult",
              "value": "={{ JSON.parse($json.content[0].text) }}",
              "type": "object"
            },
            {
              "id": "pass-page-id",
              "name": "pageId",
              "value": "={{ $('Extract Submission Fields').item.json.pageId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-parse-ai",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.pageId }}",
          "mode": "id"
        },
        "properties": {
          "values": [
            {
              "key": "Status|select",
              "selectValue": "Processed"
            },
            {
              "key": "AI Score|number",
              "numberValue": "={{ $json.aiResult.compositeScore }}"
            },
            {
              "key": "Tier|select",
              "selectValue": "={{ $json.aiResult.tier }}"
            },
            {
              "key": "Engagement Score|number",
              "numberValue": "={{ $json.aiResult.engagementScore }}"
            },
            {
              "key": "Sentiment Score|number",
              "numberValue": "={{ $json.aiResult.sentimentScore }}"
            },
            {
              "key": "Originality Score|number",
              "numberValue": "={{ $json.aiResult.originalityScore }}"
            },
            {
              "key": "Reach Score|number",
              "numberValue": "={{ $json.aiResult.reachScore }}"
            },
            {
              "key": "Brand Fit Score|number",
              "numberValue": "={{ $json.aiResult.brandFitScore }}"
            },
            {
              "key": "Performing Well|checkbox",
              "checkboxValue": "={{ $json.aiResult.performingWell }}"
            },
            {
              "key": "AI Notes|rich_text",
              "textValue": "={{ $json.aiResult.notes }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-notion-update",
      "name": "Update Notion Record",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [2660, 300],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "check-gold",
              "leftValue": "={{ $('Parse AI Response').item.json.aiResult.tier }}",
              "rightValue": "Gold",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "node-check-gold",
      "name": "Is Gold Tier?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"text\": \":trophy: *Gold tier creator detected!*\\n*Creator:* {{ $('Extract Submission Fields').item.json.creatorName }}\\n*Platform:* {{ $('Extract Submission Fields').item.json.platform }}\\n*Score:* {{ $('Parse AI Response').item.json.aiResult.compositeScore }}/100\\n*Notes:* {{ $('Parse AI Response').item.json.aiResult.notes }}\\n*URL:* {{ $('Extract Submission Fields').item.json.contentUrl }}\"\n}",
        "options": {}
      },
      "id": "node-slack-alert",
      "name": "Slack Gold Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 180]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "node-no-op-end",
      "name": "Done (non-gold)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3100, 420]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get Pending Submissions", "type": "main", "index": 0 }]]
    },
    "Get Pending Submissions": {
      "main": [[{ "node": "Filter Valid URLs", "type": "main", "index": 0 }]]
    },
    "Filter Valid URLs": {
      "main": [[{ "node": "Extract Submission Fields", "type": "main", "index": 0 }]]
    },
    "Extract Submission Fields": {
      "main": [[{ "node": "Platform Router", "type": "main", "index": 0 }]]
    },
    "Platform Router": {
      "main": [
        [{ "node": "Fetch Twitter Metrics", "type": "main", "index": 0 }],
        [{ "node": "Fetch TikTok Metrics", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Twitter Metrics": {
      "main": [[{ "node": "Normalize Twitter Data", "type": "main", "index": 0 }]]
    },
    "Fetch TikTok Metrics": {
      "main": [[{ "node": "Normalize TikTok Data", "type": "main", "index": 0 }]]
    },
    "Normalize Twitter Data": {
      "main": [[{ "node": "Merge Platform Data", "type": "main", "index": 0 }]]
    },
    "Normalize TikTok Data": {
      "main": [[{ "node": "Merge Platform Data", "type": "main", "index": 1 }]]
    },
    "Merge Platform Data": {
      "main": [[{ "node": "Build Scoring Prompt", "type": "main", "index": 0 }]]
    },
    "Build Scoring Prompt": {
      "main": [[{ "node": "Claude AI Scoring", "type": "main", "index": 0 }]]
    },
    "Claude AI Scoring": {
      "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Parse AI Response": {
      "main": [[{ "node": "Update Notion Record", "type": "main", "index": 0 }]]
    },
    "Update Notion Record": {
      "main": [[{ "node": "Is Gold Tier?", "type": "main", "index": 0 }]]
    },
    "Is Gold Tier?": {
      "main": [
        [{ "node": "Slack Gold Alert", "type": "main", "index": 0 }],
        [{ "node": "Done (non-gold)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["creator-contest", "notion", "ai-scoring"],
  "meta": {
    "templateCredsSetupCompleted": false,
    "n8nVersion": "1.0.0"
  }
}
